/*===================================================================================================*/
/* Fonts */
@font-face {
  font-family: 'MullerBold';
  src: url(/Fonts/MullerBold.woff2) format('woff2'),
  url(/Fonts/MullerBold.woff) format('woff');
}
@font-face {
  font-family: 'MullerMedium';
  src: url(/Fonts/MullerMedium.woff2) format('woff2'),
  url(/Fonts/MullerMedium.woff) format('woff');
}
@font-face {
  font-family: 'MullerRegular';
  src: url(/Fonts/MullerRegular.woff2) format('woff2'),
  url(/Fonts/MullerRegular.woff) format('woff');
}
@font-face {
  font-family: 'MullerLight';
  src: url(/Fonts/MullerLight.woff2) format('woff2'),
  url(/Fonts/MullerLight.woff) format('woff');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
section {
  padding-bottom: 70px;
}
.subtitle {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 40px;
  padding-left: 36px;
  color: #333333;
}

/*===================================================================================================*/
/* container */
body {
  font-family: 'MullerRegular', sans-serif;
  font-size: 16px;
  padding-top: 30px;
  background-color: #E5E5E5;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
/*===================================================================================================*/
/* Header */
.header {
  margin-bottom: 70px;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header-left {
  display: inherit;
  align-items: inherit;
}
.logo-img {
  width: 261px;
  height: 54px;
  margin-right: 40px;
}
.header-phone {
  font-family: 'MullerMedium';
  font-size: 20px;
  line-height: 1;
  color: #666;
}
.header-link_lk {
  color: #CC9933;
}

/* header-nav */
.container-header-nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 15px;
}
.header-nav-list {
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 45px;
}
.header-nav-item-link {
  color: #666;
}
.header-btn-block {
}
.header-btn {
  padding: 13px 20px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  background-color: transparent;
}
.header-btn-iWantTour {
  margin-right: 40px;
}
.header-btn-backCall {
}

/*===================================================================================================*/
/* Main */
/* Section specialOffers */
.specialOffers {
}
.specialOffers-subtitle {
  margin-bottom: 20px;
}
.specialOffers-blocks {
  display: flex;
}
.specialOffers-blocksLeft {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.specialOffers-blockRight {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 40px;
  background: url(/img/specialOffers/specialOffersRight.png) center no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.specialOffers-blockLeft-1 {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url(/img/specialOffers/SpecialOffersLeft01.png);
  margin-bottom: 24px;
}
.specialOffers-blockLeft-2 {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
  url(/img/specialOffers/SpecialOffersLeft02.png);
}
.specialOffers-blockLeft {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.specialOffers-blocks h3 {
  font-family: 'MullerBold';
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  color: white;
  max-width: 62%;
  letter-spacing: 0.01em;
}
.specialOffers-blockRight h3 {
  font-size: 60px;
}
.specialOffers-blocks p {
  font-family: 'MullerLight';
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.8;
  letter-spacing: 0.02em;
  margin-top: 15px;
}
.specialOffers-blockRight p {
  font-size: 30px;
}
.specialOffers-blocks a {
  font-family: 'MullerLight';
  color: #FFCC66;
  letter-spacing: 0.02em;
  margin-top: 47px;
}
/*===================================================================================================*/
/* Section about US */
.aboutUs {
}
.aboutUs-subtitle {
  margin-bottom: 11px;
}
.aboutUs-text {
  line-height: 32px;
  width: 77%;
}

/*===================================================================================================*/
/* Section services */
.services {
}
.services-subtitle {
  margin-bottom: 20px;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
}
.services-list-item:nth-child(2n+1) {
  margin-right: 23px;
}
.services-list-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  background-color: white;
  margin-bottom: 23px;
  border-radius: 15px;
}
.services-list-item:last-child(2) {
  margin-bottom: 0px;
}
.services-list-item-img {
  padding-bottom: 26px;
}
.services-list-item-link {
  font-family: 'MullerMedium';
  font-size: 20px;
  line-height: 2em;
  color: #CC9933;
  padding-left: 45px;
}
.services-list-item-text {
  display: block;
  line-height: 2em;
  padding-left: 45px;
  margin-bottom: 45px;
  max-width: 80%;
}

/*===================================================================================================*/
/* Section benifits */
.benifits {
  padding-bottom: 47px;
}
.benifits-subtitle {
  margin-bottom: 30px;
}
.benifits-list {
  display: flex;
  flex-wrap: wrap;
}
.benifits-item:nth-child(4n) {
  margin-right: 0;
}
.benifits-item {
  flex: 1 1 20%;
  padding: 33px 45px;
  background-color: white;
  margin-right: 23px;
  margin-bottom: 23px;
  border-radius: 15px;
}
.benifits-item-svg {
  display: block;
  margin-bottom: 10px;
}
.benifits-item-svg-1 {
  width: 64px;
  height: 66px;
  background-image: url(/img/benifits/benefits01.svg);
}
.benifits-item-svg-2 {
  width: 67px;
  height: 66px;
  background-image: url(/img/benifits/benefits02.svg);
}
.benifits-item-svg-3 {
  width: 64px;
  height: 66px;
  background-image: url(/img/benifits/benefits03.svg);
}
.benifits-item-svg-4 {
  width: 66px;
  height: 66px;
  background-image: url(/img/benifits/benefits04.svg);
}
.benifits-item-svg-5 {
  width: 66px;
  height: 66px;
  background-image: url(/img/benifits/benefits05.svg);
}
.benifits-item-svg-6 {
  width: 64px;
  height: 66px;
  background-image: url(/img/benifits/benefits06.svg);
}
.benifits-item-svg-7 {
  width: 64px;
  height: 66px;
  background-image: url(/img/benifits/benefits07.svg);
}
.benifits-item-svg-8 {
  width: 64px;
  height: 66px;
  background-image: url(/img/benifits/benefits08.svg);
}
.benifits-item-text {
  font-size: 16px;
  line-height: 32px;
}

/*===================================================================================================*/
/* Section placing */
.placing {
  padding-bottom: 84px;
}
.placing-subtitle {
  margin-bottom: 30px;
}
.placing-list {
  display: flex;
  flex-wrap: wrap;
}
.placing-item:nth-child(3n) {
  margin-right: 0;
}
.placing-item {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 23px;
  margin-bottom: 23px;
  background-color: white;
  border-radius: 15px;
}
.placing-item-img {
  padding-bottom: 30px;
}
.placing-item-stroka1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
}
.placing-item-price {
  margin-left: 45px;
}
.placing-item-price span:first-child {
  color: #999;
}
.placing-item-price b {
  font-size: 20px;
}
.placing-item-star {
  margin-right: 40px;
  transform: translateY(2.5px);
}
.placing-item-star img:not(:last-child) {
  float: left;
  margin-right: 6px;
}
.placing-item-coutry1 {
  margin-left: 45px;
  margin-bottom: 16px;
}
.placing-item-coutry2 {
  margin-left: 45px;
  margin-bottom: 20px;
  color: #999;
}
.placing-item-link {
  align-self: flex-start;
  margin-left: 45px;
  margin-bottom: 37px;
  color: #CC9933;
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
}
.placing-item-last {
  position: relative;
}
.placing-item-img-last {
}
.placing-item-link-last {
  display: block;
  position: absolute;
  font-size: 20px;
  line-height: 1;
  color: white;
  top: 373px;
  left: 54px;
}
/*===================================================================================================*/
/* Section i Want tour */
.iWantTour {
}
.iWantTour-head {
}
.contacts {
}
/*===================================================================================================*/
/* Footer */

.footer {
  margin-bottom: 20px;
}
.footer a {
  color: #CC9933;
  font-family: 'MullerRegular';
}
.footer * {
  display: block;
}
.footer-container {
  min-height: 341px;
  display: flex;
  font-family: 'MullerLight';
  font-weight: 500;
  line-height: 2em;
  color: #FFF;
  background-color: #333333;
  border-radius: 10px;
  padding: 45px 52px;
}
.footer-left {
  flex-basis: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 110px;
}
.footer-mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 105px;
}
.footer-mid-link {
  line-height: 1.5em;
}
.footer-socials {
  margin-left: auto;
  padding-left: 15px;
}
.social-item {
  width: 25px;
  height: 25px;
}
.social-item:not(:last-child) {
  margin-bottom: 20px;
}
.social-link {
  background-size: cover;
  height: 100%;
}
.social-tripadvisor {
  background: url(/img/social/social01.svg) center no-repeat;
}
.social-twitter {
  background: url(/img/social/twitter02.svg) center no-repeat;
}
.social-fb {
  background: url(/img/social/fb03.svg) center no-repeat;
}
.social-vk {
  background: url(/img/social/vk05.svg) center no-repeat;
}
.social-instagram {
  background: url(/img/social/instagram04.svg) center no-repeat;
}
.footer-logo-link {
  align-self: flex-end;
  margin-bottom: -45px;
  margin-left: -9%;
}
