* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*===================================================================================================*/
/* Fonts */
@font-face {
  font-family: 'Muller Medium';
  src: url(/Fonts/MullerMedium.woff2) format('woff2'),
  url(/Fonts/MullerMedium.woff) format('woff');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muller Regular';
  src: url(/Fonts/MullerRegular.woff2) format('woff2'),
  url(/Fonts/MullerRegular.woff) format('woff');
  font-style: normal;
  font-display: swap;
}
/*===================================================================================================*/
/* container */
html {
  font-family: 'Muller Medium';
}
body {
  padding-top: 30px;
  font-family: 'Muller Regular';
  font-weight: 400;
  font-size: 16px;
  background-color: #E5E5E5;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
/*===================================================================================================*/
/* Header */
.header {
  margin-bottom: 70px;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header-left {
  display: inherit;
  align-items: inherit;
}
.logo-img {
  width: 261px;
  height: 54px;
  margin-right: 40px;
}
.header-phone {
  font-size: 20px;
  font-weight: 500;
  color: #666;
}
.header-right {
}
.header-link_lk {
}

/* header-nav */
.container-header-nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}
.header-nav {
}
.header-nav-list {
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 45px;
}
.header-nav-item-link {
}
.header-btn-block {
}
.header-btn {
  padding: 13px 20px;
}
.header-btn-iWantTour {
  margin-right: 40px;
}
.header-btn-backCall {
}

/*===================================================================================================*/
/* Main */
.main {
}
.specialOffers {
}
.subtitle {
}
.specialOffers-blocks {
}
.specialOffers-blockLeft {
}
.specialOffers-blockLeft-1 {
}
.specialOffers-blockLeft-1-img {
}
.blockLeft-1-link {
}
.specialOffers-blockLeft-2 {
}
.specialOffers-blockRight {
}
.aboutUs {
}
.aboutUs-text {
}
.services {
}
.services-list {
}
.services-list-item {
}
.services-list-item-img {
}
.services-list-item-link {
}
.services-list-item-text {
}
.benifits {
}
.benifits-list {
}
.benifits-item {
}
.benifits-item-svg {
}
.benifits-item-text {
}
.placing {
}
.placing-list {
}
.placing-item {
}
.placing-item-img {
}
.placing-item-price {
}
.placing-item-price_ {
}
.placing-item-star {
}
.placing-item-coutry1 {
}
.placing-item-coutry2 {
}
.placing-item-link {
}
.placing-item-last {
}
.placing-item-img-last {
}
.placing-item-link-last {
}
.iWantTour {
}
.iWantTour-head {
}
.contacts {
}
/*===================================================================================================*/
/* Footer */

.footer {
}
.footer-left {
}
.footer-left-agreement {
}
.footer-mid {
}
.footer-mid-link {
}
.footer-socials {
}
.socials-list {
}
.social-item {
}
.social-tripadvisor {
}
.social-twitter {
}
.social-fb {
}
.social-vk {
}
.social-instagram {
}
.footer-logo-link {
}
.footer-logo {
}
